body{
    background-color: #040F17;
	margin: 0px;
    animation: fading 5s infinite;
    -webkit-animation: fading 5s infinite;
	overflow: hidden;
}


/*Text select color*/
::selection {
	background: #47B9A6;
}
::-moz-selection {
	background: #47B9A6;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	height: 100%;
	margin: 0;
}

/*Head bar styling*/

header{
	background-color: #0C1A25;
	border-bottom: 2px solid #122737;
	min-height: 25px;
	width: 100%;
	overflow: auto;
	top: 0;
	left: 0;
	right: 0;
	float: left;
}

.headingText{
	padding-left: 25px;
	padding-right: 25px;
	color: white;
	font-family: verdana;
	font-size: 12px;
	line-height: 15px;
	margin-top: 5px;
	letter-spacing: 2px;
}

#resetButton {
	border: 1px solid white;
	display: inline-block;
	border-radius: 5px;
}

#resetButton:hover {
	cursor: pointer;
	color: #00A085;
	border: 1px solid #00A085;
}

#resetButton:active {
	transform: translateY(2px);
}

/*Game styling*/

.basicText{
	color: white;
	font-size: 16pt;
	font-family: georgia;
	padding: 50px;
}

#narrowMargin{
	width: 50%;
}

#timeNum{
	padding: 100px;
	color: white;
	font-size: 50pt;
	font-family: trebuchet ms;
	text-align: center;
}

section {
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
	float: left;
}

#homePage {
	display: inline-block;
}

h1{
	margin-top: 50px;
	margin-bottom: 0px;
	left: 0;
	right: 0;
	padding: 25px;
	color: white;
	text-align: center;
	font-family: verdana;
	font-size: 25pt;
	font-weight: normal;
	letter-spacing: 3px;
	position: relative;
}

#colHold{
	width: 100%;
	height: 100%;
}

#col1{
	width: 50%;
	display: inline-block;
	float: left;
}

#col2{
	width: 50%;
	height: 100%;
	display: inline-block;
}

#cpuImg {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 0 auto;
	border: 10px solid white;
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.button{
	width: 250px;
	height: 100px;
	border-top: 4px solid #23303A;
	border-radius: 10px;
	text-align: center;
	background-color: #162531;
	margin-top: 25px;
	margin-bottom: 25px;
	/*Button text*/
	line-height: 100px;
	color: white;
	text-decoration: none;
	font-family: Georgia;
	font-size: 20pt;
	text-align: center;
}

.button:hover{
	background-color: #0C1A25;
	border-top: 4px solid #00A085;
	color: #00A085;
	cursor: pointer;
    -webkit-animation-name: shake;
    -webkit-animation-duration: .25s;
    animation-name: shake;
    animation-duration: .25s;
}

.startbutton:active {
	transform: translateY(5px);
}

.startbutton{
	left: 0;
	right: 0;
	color: white;
	text-decoration: none;
	font-family: Georgia;
	font-size: 20pt;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	border-top: 4px solid #23303A;
	background-color: #162531;
	border-radius: 10px;
	margin: 40px;
	width: 350px;
}

.startbutton:hover{
	background-color: #0C1A25;
	color: #00A085;
	border-top: 4px solid #00A085;
	cursor: pointer;
	-webkit-animation-name: shake;
    -webkit-animation-duration: .25s;
    animation-name: shake;
    animation-duration: .25s;
}

#cancelbutton {
	color: #47B9A6;
}

#cancelbutton:hover {
	color: #00A085;
}

#resultdesc{
	padding: 25px;
	color: white;
	font-family: georgia;
	font-size: 18pt;
}

/*keyframe sequences*/
@keyframes fading {
    0%   { background: #040F17; }
	25%  { background: #050A18; }
	50%  { background: #040F17; }
	75%  { background: #021515; }
	100% { background: #040F17; }
}

@-webkit-keyframes fading {
    0%   { background: #040F17; }
	25%  { background: #050A18; }
	50%  { background: #040F17; }
	75%  { background: #021515; }
	100% { background: #040F17; }
}

@keyframes shake {
    0%   {transform: translateX(-10px);}
    15%  {transform: translateX(0px);}
    30%  {transform: translateX(10px);}
    45%  {transform: translateX(0px);}
	60%  {transform: translateX(-5px);}
    75%  {transform: translateX(0px);}
    90%  {transform: translateX(5px);}
    100% {transform: translateX(0px);}
}
@-webkit-keyframes shake {
    0%   {transform: translateX(-10px);}
    15%  {transform: translateX(0px);}
    30%  {transform: translateX(10px);}
    45%  {transform: translateX(0px);}
	60%  {transform: translateX(-5px);}
    75%  {transform: translateX(0px);}
    90%  {transform: translateX(5px);}
    100% {transform: translateX(0px);}
}

/*
@media only screen and (max-width: 600px) {
    
}*/










